.header {
  .navbar {
    .navbar-nav {
      .nav-item {
        padding-left: 5px;
        padding-right: 5px;
      }
      a {
        background-color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        font-weight: bold;
      }

      @media (max-width: 576px) {
        .nav-item {
          padding-left: 0;
          padding-right: 0;
          margin-top: 5px;
        }
      }
    }

    .search {
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 15px;
      padding-left: 25px;
      padding-right: 40px;
      margin-right: 0 !important;
    }

    .icon {
      text-align: center;
      align-self: center;
      margin-left: -50px;
      &:hover {
        cursor: pointer;
      }
    }

    .form-mobile {
      display: none;
    }

    @media (max-width: 991.98px) {
      .form-desktop {
        display: none;
      }
      .form-mobile {
        display: block;
      }
    }

    .form-mobile {
      .search {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
